@model List<Product>

@section title {
    <h2>Manage Products</h2>
}

@if (Model != null && Model.Count() > 0) 
{
    <table class="table table-hover table-light">
        <thead>
            <tr>
                <th>Category Name</th>
                <th>Name</th>
                <th>Price</th>
                <th>Quantity</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Model)
            {
                <tr>
                    <td class="py-2"><a class="btn btn-light disabled">@product.Category?.Name</a></td>
                    <td class="py-2"><a class="btn btn-light disabled">@product.Name</a></td>
                    <td class="py-2"><a class="btn btn-light disabled">@product.Price?.ToString("c")</a></td>
                    <td class="py-2"><a class="btn btn-light disabled">@product.Quantity</a></td>   
                    <td class="py-2"><a class="btn btn-outline-primary" asp-controller="products" asp-action="edit" asp-route-id="@product.ProductId">Edit</a></td>
                </tr>
            }
        </tbody>
    </table>
    <div class="row mb-3"></div>
    <div class="col-2">
        <a class="btn btn-primary" asp-controller="products" asp-action="add">Add</a>
    </div>
}